<div class="w3-panel w3-card">
	<div>
		<section ng-controller="menuController" class="reports-section-center">
			<h1 style="text-transform:none; text-align: center;">Search Reports</h1>
			<p>We have some ranked search reports about genes and drugs for you. You can download them if you are interested. Keep mind that you can 
			<a ng-click="loadMenu('/filter_page')" href="javascript:void(0);" style="color: orange">Search</a> the publications by yourself. 
			</p>
		</section>
		<section>
			<div style="padding-left:100px;">
				<h1 style="text-transform:none; text-align: left; font-size: 25px;">Drugs</h1>
				<p>Ranked drugs that are mentioned in COVID-19 publications.</p>
			
			<table style="padding-left:100px;">
				<thead>
					<tr>
						<td>Drugs</td>
						<td style="font-size:10px;color:grey">first 10 out of </td>
						<td>Publications</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			</div>
		</section>
	</div>
</div>